/* styles.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.main-container {
  display: flex;
  padding: 20px;
  flex: 1;
}

#side_nav {
  background: #ffffff;
  flex: 1;
  min-width: 250px;
  max-width: 250px;
  height:  calc(100vh - 3rem);
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 80px;
}

.horizontal-line {
  overflow: hidden;
  background-color: #5cad25;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;
  
}
span.logo {
  display: flex;
  padding: 8px 12px 20px 16px;
  font-family: 'Poppins';
  font-weight: 800;
  color: #528203;
  letter-spacing: 8px;
  width: 100%;
  justify-content: left;
  font-size: 3rem;
}

.list-unstyled.px-2 li {
  margin-bottom: 10px;
  padding: 6px;
  font-size: 1.2rem;
}

h1.fs-2 {
  font-size: 2rem;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#user-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 8px 50px 4px 6px
}

#user-name {
  font-family: "Poppins";
  padding: 2px;
}

#user-info img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.content-container {
  padding: 74px;
  text-align:justify;
}

.container-md {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#sticky-footer {
  background-color: #528203;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.list-unstyled.px-2 {
  margin-left: 0;
}
.menu-item{
  margin: 0;
}
.menu-item img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.menu-item a {
  font-family: "Poppins";
  font-size: 25px;
  color: #528203;
  text-decoration: none;
  margin: 0px 0px 30px ;
  white-space: nowrap; 
}
.menu-item a:hover {
  color: #ffffff; 
  text-decoration: none; 
  background: #5cad25;
  border-radius: 7px;
}

.menu-item:hover img {
  display: none;
}
