body {
  background: rgb(196, 193, 193);
}

.main-container {
  display: flex;
}

#side_nav {
  background: #ffffff;
  flex: 1;
  z-index: 1; 
  padding: 6px 12px 20px 16px;
  min-width: 200px;
  max-width: 200px;
  height: 100vh;
  overflow-x: hidden;
  position: fixed;
  top: 0; 
  left: 0; 
}

.horizontal-line {
  overflow: hidden;
  background-color: #5cad25;
  width: 100%;
  height: 3rem;
  z-index: 0; 
  position: fixed;
  top: 0; 
  left: 0; 
  
}

.content {
  flex: 1; 
  margin: 20px;
  padding: 20px;
  background-color: #f9f9f9;
}


span.logo {
  display: flex;
  padding: 6px 12px 20px 16px;
  font-family: 'Poppins';
  font-weight: 800;
  color: #528203;
  letter-spacing: 8px;
  width: 100%;
  justify-content: center;
  font-size: 2rem; 
}

.list-unstyled.px-2 li {
  margin-bottom: 10px;
  padding: 6px;
  font-size: 1.2rem; 
}

h1.fs-4 {
  font-size: 4rem; 
}
.user-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#user-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
}

 #user-name{
  font-family:"Poppins"

}
#user-info img {
  width: 25px;
  height: 25px;
  border-radius: 50%; /* To make the image circular, assuming it's a person's avatar */
  margin-right: 10px; /* Add some space between the avatar and the username */
}