/* styles.css */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;

}

.side-bar-container {
  display: flex;
  padding: 20px;
  flex: 1;
  height: 100%;
  overflow: hidden;
  
}

#side_nav {
  background: #ffffff;
  min-width: 250px;
  max-width: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 120px;
 position: fixed;
  
}

.horizontal-line {
  overflow: hidden;
  background-color: #5cad25;
  width: 100%;
  height: 5rem;
  position: fixed;
  top: 0;
  left: 0;

  box-shadow: inset -35px -35px 70px #549d22,
  inset 35px 35px 70px #64bd28;
}

span.logo {
  display: flex;
  padding: 8px 12px 20px 16px;
  font-family: 'Poppins';
  font-weight: 800;
  color: #ffffff;
  letter-spacing: 8px;
  width: 100%;
  justify-content: left;
  font-size: 3rem;
  text-decoration: none;
}

.list-unstyled.px-2 li {
  margin-bottom: 10px;
  padding: 6px;
  font-size: 1.2rem;
}

.user-container {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

#user-info {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 8px 50px 4px 6px;
}

#user-name {
  font-family: "Poppins";
  padding: 2px;
}

#user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}

.content-container {
  padding: 120px 20px 20px 12px; /* Add padding to the left side to accommodate the sidebar width */
  text-align: justify;
  flex: 1;

}

.container-md {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

#sticky-footer {
  background-color: #528203;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
.list-unstyled.px-2 {
  margin-left: 0;
}
.menu-item{
  margin: 0;
}
.menu-item img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.menu-item a {
  font-family: "Poppins";
  font-size: 22px;
  color: #528203;
  text-decoration: none;
  margin: 0px 0px 30px ;
  white-space: nowrap; 
}
.menu-item a:hover {
  color: #ffffff; 
  text-decoration: none; 
  background: #5cad25;
  border-radius: 7px;
  transition: background-color 0.35s;
  margin-left: 23px;
}

.menu-item:hover img {
  display: none;
}
.logout {
  font-family: "Poppins";
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: left;
  background-color: transparent;
}

.logout:hover {
  background-color: #528203;
}

#sticky-footer {
  font-family: "Poppins";
  color: #ffffff
}

/* styles.css */
.carousel-inner img {
  max-height: 400px; /* Set the maximum height for the carousel images */
}
.carousel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value for the darkness level */
}

.carousel-item {
  position: relative;
}

.carousel-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

